@model ComicBookGallery.Models.ComicBook

@{
    //@ tells editor we want to use C#.
    Layout = "~/Views/Shared/_Layout.cshtml"; //path to the "shared" layout page
    ViewBag.Title = Model.DisplayText; //shows in browser tab
    ViewBag.ShowBackBar = true;
}




<h2>@Model.SeriesTitle</h2>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h5><label>Series Title:</label> @Model.SeriesTitle</h5>
            <h5><label>Issue #:</label> @Model.IssueNumber</h5>
            <h5><label>Favorite:</label> @(Model.Favorite ? "Yes" : "No")</h5>
            @if (Model.Artists.Length > 0)
        {
            <h5>Artists:</h5>
            <div>
                <ul>
                    @foreach (var artist in Model.Artists)
                {
                    <text><!-- @artist.Name --></text>
                    <li>@artist.Role: @artist.Name</li>
            }
                </ul>
            </div>
    }
        </div>
        <h5>Description</h5>
        @Html.Raw(Model.DescriptionHtml)

    </div>
    <div class="col-md-6">
        <img src="/Images/@Model.CoverImageFileName"
             alt="@Model.DisplayText" class="img-responsive" />
    </div>
</div>